body {
  margin: 40px auto;
  max-width: 480px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0;
}

h1,
h3 {
  text-align: center;
}

.wrapper {
  display: flex;
  margin: 1.4rem 0 0 0;
}

.btn {
  background-color: #444;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1px;
}

.ctrl-btn {
  margin: 0 3px 0 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: gray;
  font-size: 2rem;
}

.btn-submit {
  background-color: #0b4f6c;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0 13px 0 13px;
  margin: 0 5px 0 5px;
  max-height: 38px;
}
